:root {
  /* night mode colors */
  --bg-color: #000;
  --calc-body-color: linear-gradient(180deg, #0e0e0e, #333333);
  --text-color-keys: #000;
  --screen-color: aqua;
  --screen-box-shadow: inset 0 2px 10px 1px #018874;
  --button-color: #fff;
  --mode-label-color: #1b1b1b;
}

html,
body,
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  line-height: 1.5;
  background-color: var(--bg-color);
  font-size: 1.1em;
  color: var(--text-color-keys);
}

main {
  background-color: var(--bg-color);
  margin: 3em 0;
}

#calc-body {
  background: var(--calc-body-color);
  border-radius: 1.5em;
  margin: 0 auto;
  padding: 1em;
  width: 400px;
  user-select: none;
}

#calc-body section {
  width: 100%;
}

#name-section {
  display: flex;
  justify-content: space-between;
}

#name-section #calc-name {
  color: #333;
  font-size: 0.9em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#battery-level {
  display: flex;
  justify-content: flex-end;
}

#battery-level div {
  width: 0.6em;
  height: 0.6em;
  background: linear-gradient( 270deg,rgb(62, 255, 156) 0%, rgb(35, 46, 40) 0%);
    /* background-color: rgb(62, 255, 156); */
    border-radius: 50%;
  margin-left: 0.2em;
}

#screen {
  background-color: var(--screen-color);
  box-shadow: var(--screen-box-shadow);
  border-radius: 0.6em;
  padding: 0.8em;
  line-height: 2;
  margin: 1em 0;
  height: 150px;
  overflow: hidden;
}

#top-screen {
  margin-top: -0.4em;
  display: flex;
}

#top-screen * {
  background-color: #04216b;
  padding: 0.2em 0.4em;
  margin-right: 0.5em;
  line-height: 1;
  border-radius: 0.3em;
  color: rgb(71, 65, 236);
  font-size: 0.7em;
  font-family: 'Times New Roman', Times, serif;
}

#conversion-mode {
  background-color: rgb(66, 10, 92);
  color: rgb(168, 115, 233);
  visibility: hidden;
}

#entered-text {
  margin-top: 1em;
  font-size: 1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
}

#entered-text #blinking-cursor {
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  animation: blink 0.7s linear infinite;
}

@keyframes blink {
  0% {
    color: #000;
  }

  100% {
    color: transparent;
  }
}

#result {
  margin-bottom: -0.6em;
  text-align: end;
  font-size: 1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
}

#control-keys {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modes,
#power-section {
  position: relative;
  border-radius: 0.6em;
  border: 1px solid #b65151;
  width: calc((80% +2em) / 3);
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
  padding: 0.5em;
  justify-content: space-between;
}

#power-section {
  border: 1px solid #626262;
}

#mode-label {
  color: #b65151;
  position: absolute;
  font-size: 0.6em;
  top: -0.8em;
  background-color: var(--mode-label-color);
  padding: 0 0.4em;
  left: 25%;
}

#modes p,
#power-section p {
  display: block;
  line-height: 1.5;
  margin: 0.3em 0;
  width: 3em;
  text-align: center;
  color: #000;
}

#modes p {
  font-size: 0.75em;
}

#power-section p,
#num-calc-btns div {
  font-size: 0.9em;
  padding: 0 0.6em;
  width: 2.6em;
  text-align: center;
}

#power-section p:nth-of-type(1),
#power-section p:nth-of-type(2) {
  background-color: rgb(12, 12, 12);
}

#power-section p:nth-of-type(1) {
  color: #688681;
}

#power-section p:nth-of-type(2) {
  color: red;
}

#power-section p:nth-of-type(3) {
  background-color: #ee4a09;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: white;
}

#power-section p:nth-of-type(4) {
  background-color: #eeb109;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: white;
}

#modes p:nth-of-type(1) {
  background-color: rgb(255, 217, 0);
}

#modes p:nth-of-type(2) {
  background-color: rgb(255, 0, 208);
}

#modes p:nth-of-type(3) {
  background-color: rgb(0, 157, 255);
}

#modes p:nth-of-type(4) {
  background-color: rgb(0, 255, 145);
}

#direction-pad {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #575656;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#direction-pad span {
  position: absolute;
  color: #222222;
  font-size: 0.8em;
  cursor: pointer;
}

#up-btn {
  top: 0.2em;
  transform: rotate(270deg);
}

#down-btn {
  bottom: 0.2em;
  transform: rotate(90deg);
}

#right-btn {
  right: 0.2em;
  transform: rotate(360deg);
}

#left-btn {
  left: 0.2em;
  transform: rotate(180deg);
}

#direction-pad>div {
  background-color: rgb(61, 61, 61);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 0 20px 1px black;
}

#num-calc-btns,
#date-time-calc-btns,
#conversion-cal-keys {
  padding: 0.1em 0.2em 0.2em 0.5em;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5em;
  justify-content: space-between;
  margin-bottom: 0.2em;
}

#num-calc-btns {
  clip-path: polygon(0% 0%,
      28% 0%,
      28% 22%,
      72% 22%,
      72% 0%,
      100% 0%,
      100% 100%,
      0% 100%);
  border: 1px solid rgba(16, 145, 200, 0.537);
  position: relative;
  margin-top: 0.5em;
}

#num-calc-btns div,
#date-time-calc-btns div,
#conversion-cal-keys div {
  background-color: var(--button-color);
  margin: 0.3em 0.3em 0.2em 0;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#date-time-calc-btns div,
#conversion-cal-keys div {
  font-size: 0.8em;
  width: 3em;
}

#date-time-calc-btns {
  border: 1px solid rgba(228, 18, 147, 0.469);
}

#conversion-cal-keys {
  border: 1px solid rgba(18, 228, 119, 0.476);
}

.keys,
.key {
  height: 1.5em;
  border-radius: 0.3em;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

#calc-model {
  color: #161616;
  font-size: 0.7em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  text-align: end;
}

#conversion-cal-keys #equals-btn {
  flex: 0.81;
  /* background-color: rgb(70, 146, 70); rgb(98, 255, 98);*/
}

@keyframes button {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}